<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @survey.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @survey.answer %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
